header{
  text-align: left;
  background-color: rgb(243, 215, 162);
  padding: 20px;
}
nav{
  text-align: right;
}

h1{
  font-family: 'Courier New', Courier, monospace;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 20px;
}
.hero{ 
  font-style: italic;
}
img{
  width: 400px;
  height: 300px;
}
body{
  background-color: antiquewhite;
}
#menu{
  text-align: left;
  
}
.lead{
  text-align: center;
}
.price{
  font-weight: 800;
  color: rgb(32, 32, 63);
}
.muted{
  color: rgb(32, 32, 63);
}
h2{
  color: rgb(32, 32, 63);
}
h3{
  color: rgb(32, 32, 63);
}
.lead{
  color: rgb(32, 32, 63);
}